<div class="accessory">
    <div class="accessory">
        {{#if admin}}
        <a class="delBtn" href="/accessories/delete/{{_id}}/{{productId}}"><img class="delBtn" src="/images/deletebutton.png"></a>
        {{/if}}
        <img src="{{imageUrl}}" alt="stickerName">
    </div>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
</div>