<main>
  <h1>Create</h1>
  <div class="form">
    <form action="/products/create/create" method="POST">
      {{#if error}}
      <span class="error">{{error.message}}</span>
      {{/if}}
      <label for="name">Name</label>
      <input value="{{data.name}}" {{#unless name}} class="err-input" {{/unless}} type="text" id="name" name="name">
      <label for="name">Description</label>
      <textarea {{#unless description}}class="err-input" {{/unless}} id="name"
        name="description">{{data.description}}</textarea>
      <label for="image">ImageUrl</label>
      <input value="{{data.imageUrl}}" {{#unless imageUrl}} class="err-input" {{/unless}} type="text" id="image"
        name="imageUrl">
      <label for="difficulty">Difficulty</label>
      <select id="difficulty" name="difficultyLevel">
        <option value="1">1 - Very Easy</option>
        <option value="2">2 - Easy</option>
        <option value="3">3 - Medium (Standard 3x3)</option>
        <option value="4">4 - Intermediate</option>
        <option value="5">5 - Expert</option>
        <option value="6">6 - Hardcore</option>
      </select>
      <input type="submit" value="Create">
    </form>
  </div>
</main>

<script>
  document.querySelector(`option[value="{{data.difficultyLevel}}"]`).setAttribute("selected", "true");
</script>